@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

#backtop {
    position: fixed;
    right: 50px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s ease;
}

#loading {
    position: fixed;
    background-color: white !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 1s;
}

#loading.loading-none {
    opacity: 0;
    z-index: -100;
}

.max-width {
    width: 100%;
    max-width: 1600px;
    padding: 0px 80px;
    margin: auto;

    .conn {
        margin-left: 20px;

        button {
            all: unset;
            padding: 13px 40px;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid white;
            color: white;
        }
    }

    .con {
        display: flex;
        align-items: center;

        .dark {
            background-color: black;
        }

        .dark * {
            color: white !important;
        }
        .language {
            display: flex;
            align-items: center;
            .rus {
                margin-left: 5px;
                h2 {
                    font-weight: 300;
                    transition: .4s;
                    color: #111;
                }
                h2:hover {
                    color: #FDD04A;
                }
            }
            .uz {
                margin-left: 5px;
                margin-right: 5px;
                h2 {
                    font-weight: 300;
                    transition: .4s;
                    color: #111;
                }
                h2:hover {
                    color: #FDD04A;
                }
            }
        }

    }

    .lo {
        display: none !important;
        display: flex;
        align-items: center;

        h2 {
            margin-left: 10px;
            font-size: 28px;
            font-family: sans-serif;
            font-weight: 600;
        }

        .nuqta {
            color: #57b9ff;
        }
    }
}

/* Navbar Styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    transition: .9s;
    padding: 15px 0;
    background: #57B8FF;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;

    a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
    }
}


.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: rgb(7, 58, 198);
    transition: all 0.3s ease;
}

/* menu btn styling */
/* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

section {
    transition: .9s;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.906);
    color: white;


    .section2 {
        transition: .9s;
        width: 100%;
        margin: auto;
        display: flex;

        .section21 {
            width: 100%;
            padding-top: 250px;
            padding-bottom: 50px;
            padding-left: 20px;

            .h1 {
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 400;
                font-size: 72px;
                line-height: 86px;
                text-transform: capitalize;
            }

            .ikki {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                p {
                    margin-left: 10px;
                    color: #57B8FF;
                }
            }

            .pi {
                color: #999999;
                margin-top: 40px;
                margin-bottom: 50px;
            }

            .oon {
                display: flex;
                align-items: center;

                p {
                    margin-left: 40px;
                }

                button {
                    all: unset;
                    transition: .9s;
                    background-color: #57B8FF;
                    color: #ffffff;
                    padding: 15px 50px;
                    border-radius: 5px;
                    transition: .5s;
                }

                .view {
                    margin-left: 20px;
                }

                .view {
                    button:hover {
                        transition: .9s;
                        background-color: #f5f5f5;
                        color: #57b9ff;
                        padding: 15px 45px;
                    }
                }

                button:hover {
                    background-color: #f5f5f5;
                    color: #57b9ff;
                }
            }
        }

        .on {
            background-color: #57B8FF;
            width: 100%;
            padding-top: 200px;
            padding-bottom: 50px;

            img {
                width: 100%;
            }
        }
    }
}

#section3 {
    transition: .9s;
    background-color: #FDD04A;

    .sec3 {
        max-width: 1600px;
        margin: auto;
        width: 90%;
        margin: auto;
        text-align: center;

        h1 {
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            text-transform: capitalize;
            color: #222730;
            padding-top: 100px;
            padding-bottom: 40px;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
            padding-bottom: 100px;

            div {
                margin: 5px;
            }

            img {
                width: 100%;
            }
        }
    }
}

#section4 {
    transition: .9s;
    background-image: url(./img/background.png);
    max-width: 1600px;
    margin: auto;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-size: cover;

    .sec4 {
        transition: .9s;
        color: white;
        text-align: center;

        h1 {
            width: 40%;
            margin: auto;
            padding-bottom: 40px;
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            text-align: center;
            text-transform: capitalize;
        }

        .pi {
            width: 40%;
            margin: auto;
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: rgba(223, 223, 223, 0.8);
        }

        .se4 {
            justify-content: center;
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 20px;

            p {
                margin-left: 10px;
            }
        }
    }

    .pas {
        color: white;

        .pa1 {
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: space-between;

            .pa2 {
                margin-top: 30px;
                padding: 50px;
                background-color: rgba(255, 255, 255, 0.227);
                border-radius: 10px;
                transition: .5s;

                .pi {
                    margin-right: 20px;
                    color: #DFDFDF;
                    font-family: 'Orbitron';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                }

                .pa3 {

                    display: flex;
                    align-items: center;

                    h3 {
                        font-family: 'Orbitron';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 42px;
                        text-transform: capitalize;
                        margin-left: 10px;
                    }
                }
            }

            .pa2:hover {
                box-shadow: 0px 0px 10px 5px #57b9ff;
            }

            .oonn {
                margin-left: 20px;
            }
        }
    }
}

#section5 {
    transition: .9s;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;

    .sec5 {
        max-width: 1600px;
        margin: auto;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .se5 {
            width: 50%;

            h1 {
                color: white;
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 74px;
                text-transform: capitalize;
                margin-bottom: 38px;
            }

            .pi {
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: rgba(223, 223, 223, 0.8);
                margin-bottom: 40px;
            }

            button {
                all: unset;
                background-color: #57B8FF;
                color: white;
                border-radius: 5px;
                padding: 15px 45px;
                transition: .5s;
            }

            .s5 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                p {
                    color: #57B8FF;
                }
            }

            button:hover {
                background-color: #f5f5f5;
                color: #57b9ff;
            }
        }

        div {
            img {
                width: 100%;
            }
        }
    }
}

#section6 {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .sec6 {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

#section7 {
    transition: .9s;
    background-color: black;
    margin-top: -7px;
    padding-top: 30px;
    padding-bottom: 20px;

    .sec7 {
        max-width: 1600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;
        margin: auto;

        .button {
            button {
                all: unset;
                background-color: #57B8FF;
                color: white;
                padding: 15px 45px;
                border-radius: 2px;
                transition: .5s;
            }

            button:hover {
                background-color: #f5f5f5;
                color: #57b9ff;
            }
        }

        .se7 {
            h1 {
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 100;
                font-size: 64px;
                line-height: 74px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-top: 20px;
            }

            .s7 {
                display: flex;
                align-items: center;

                p {
                    color: #57B8FF;
                }
            }
        }

    }
}

#section8 {
    transition: .9s;
    padding-top: 100px;
    background-color: black;

    .sec8 {
        max-width: 1600px;
        margin: auto;
        width: 90%;
        margin: auto;

        .se8 {
            display: flex;
            justify-content: space-between;

            p {
                color: #57B8FF;
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 10px;
            }

            h3 {
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 34px;
                text-transform: capitalize;
                color: #FFFFFF;
            }

            img {
                width: 100%;
            }

            .s8 {
                margin-left: 20px;

                .s {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 40px;

                    .c {
                        img {
                            width: 100%;
                        }

                    }

                    .c1 {
                        margin-left: 40px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-image: url(./img/footer.png);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-size: cover;

    .futer {
        max-width: 1600px;
        margin: auto;
        text-align: center;

        h1 {
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 82px;
            text-align: center;
            padding-top: 100px;
            margin-bottom: 50px;
        }

        .pi {
            margin-bottom: 50px;
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #555555;
        }

        .inp {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: auto;

            .em {
                width: 50%;

                input {
                    width: 100%;
                    border: none;
                    background-color: white;
                    padding: 10px 20px;
                }
            }

            .bu {
                button {
                    all: unset;
                    width: 100%;
                    border: none;
                    background-color: #57B8FF;
                    padding: 7px 30px;
                    color: white;
                }
            }


            input:focus {
                border: none;
                outline: 0;
                outline-offset: 0;
            }
        }
    }
}




.navbar {
    .max-width {
        .con {
            .dark {
                button {
                    all: unset;
                    background-color: #57B8FF;
                }
            }
        }
    }
}

.dark {
    transition: .6s;
    .navbar {
        .max-width {
            .logo {
                display: none;
            }
        }
    }

    .navbar {
        .max-width {
            .lo {
                display: block !important;
                display: flex !important;
            }
        }
    }

    section {
        .section2 {
            .section21 {
                background-color: white;
                color: #000;
            }
        }
    }

    nav {
        .max-width {
            ul {
                a {
                    color: #111;
                }
            }
        }
    }

    #section3 {
        background-color: white;
        color: black;

        .sec3 {
            transition: .9s;
            .bottom {
                div {
                    transition: .9s;
                    background-color: #FDD04A;
                    border-radius: 15px;
                    padding: 7px 7px 4px 7px;
                }
            }
        }
    }

    #section5 {
        background-color: #fff;
        color: #000;

        h1 {
            color: black !important;
        }

        p {
            color: #000 !important;
        }

        img {
            background-color: #000;
            border-radius: 10px;
        }
    }

    #section7 {
        background-color: white;

        .sec7 {
            .se7 {
                h1 {
                    color: #000 !important;
                }
            }
        }
    }

    #section8 {
        background-color: white;

        p {
            color: #57b9ff !important;
        }

        h3 {
            color: #000 !important;
        }
    }
}

@keyframes ldio-6hy09r934wb {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ldio-6hy09r934wb div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-6hy09r934wb linear 1s infinite;
    background: #fe718d;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldio-6hy09r934wb div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #fe718d;
}

.loadingio-spinner-spinner-qlb5tziceg {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-6hy09r934wb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-6hy09r934wb div {
    box-sizing: content-box;
}



@media (max-width: 1100px) {
    footer {
        .futer {
            .inp {
                width: 60%;
                margin: auto;

                .em {
                    width: 70%;
                }
            }
        }
    }
}

@media (max-width: 1000px) {

    section {
        .section2 {
            .section21 {
                .h1 {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }
    }

    #section8 {
        .sec8 {
            .se8 {
                h3 {
                    font-size: 18px;
                }
            }
        }
    }

}

@media (max-width: 990px) {
    #section5 {
        .sec5 {
            flex-direction: column;
            width: 90%;
            margin: auto;

            .se5 {
                width: 90%;
                margin: auto;

                h1 {
                    font-size: 50px;
                }
            }
        }
    }
}

@media (max-width: 970px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
        margin-left: -3px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card,
    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .navbar {
        .max-width {
            .con {
                display: none;
            }
        }
    }

}

@media (max-width: 900px) {
    #section4 {
        .sec4 {
            h1 {
                width: 70%;
                margin: auto;
            }

            p {
                width: 70%;
                margin: auto;
            }
        }
    }
}

@media (max-width: 870px) {
    section {
        .section2 {
            .section21 {
                .onn {
                    flex-direction: column !important;
                }
            }
        }
    }
}

@media (max-width: 845px) {
    #section4 {
        .pas {
            .pa1 {
                flex-direction: column;

                .oonn {
                    margin-left: -1px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    section {
        .section2 {
            .section21 {
                .h1 {
                    font-size: 40px;
                }
            }
        }
    }

    #section8 {
        .sec8 {
            .se8 {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        .futer {
            .inp {
                .em {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 700px) {

    #section3 {
        .sec3 {
            .bottom {
                flex-direction: column;
            }
        }
    }

    #section4 {
        .sec4 {
            h1 {
                width: 70%;
                margin: auto;
            }

            p {
                width: 70%;
                margin: auto;
            }
        }
    }

    #section7 {
        .sec7 {
            .se7 {
                h1 {
                    font-size: 50px;
                }
            }
        }
    }

    #section8 {
        .sec8 {
            .se8 {
                flex-direction: column;

                h3 {
                    font-size: 18px;
                }

                .s8 {
                    margin-top: 40px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    section {
        .section2 {
            flex-direction: column-reverse;
        }
    }

    #section4 {
        .sec4 {
            h1 {
                font-size: 50px;
                width: 90%;
                margin: auto;
            }

            .pi {
                width: 90%;
                margin: auto;
            }
        }
    }

    footer {
        .futer {
            h1 {
                font-size: 50px;
            }

            .inp {
                width: 70%;
                margin: auto;

                .em {
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}

@media (max-width: 515px) {
    #section7 {
        .sec7 {
            .se7 {
                h1 {
                    font-size: 40px;
                }

                .s7 {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #section6 {
        flex-direction: column;

        .sec6 {
            margin-top: -5px;
        }
    }

    #section7 {
        .sec7 {
            flex-direction: column;

            .se7 {
                h1 {
                    font-size: 40px;
                }

                .s7 {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #section8 {
        .sec8 {
            .se8 {
                .s8 {
                    .s {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    footer {
        .futer {
            h1 {
                font-size: 50px;
            }

            .inp {
                .em {
                    width: 100%;
                    margin: auto;

                    input {
                        padding: 15 10px;
                    }
                }

                .bu {
                    button {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .section8 {
        .sec8 {
            .se8 {
                h3 {
                    font-size: 16px;
                }

                .s8 {
                    .s {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}