@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#backtop {
  position: fixed;
  right: 50px;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .5s ease;
}

#loading {
  position: fixed;
  background-color: white !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 1s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -100;
}

.max-width {
  width: 100%;
  max-width: 1600px;
  padding: 0px 80px;
  margin: auto;
}

.max-width .conn {
  margin-left: 20px;
}

.max-width .conn button {
  all: unset;
  padding: 13px 40px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}

.max-width .con {
  display: flex;
  align-items: center;
}

.max-width .con .dark {
  background-color: black;
}

.max-width .con .dark * {
  color: white !important;
}

.max-width .con .language {
  display: flex;
  align-items: center;
}

.max-width .con .language .rus {
  margin-left: 5px;
}

.max-width .con .language .rus h2 {
  font-weight: 300;
  transition: .4s;
  color: #111;
}

.max-width .con .language .rus h2:hover {
  color: #FDD04A;
}

.max-width .con .language .uz {
  margin-left: 5px;
  margin-right: 5px;
}

.max-width .con .language .uz h2 {
  font-weight: 300;
  transition: .4s;
  color: #111;
}

.max-width .con .language .uz h2:hover {
  color: #FDD04A;
}

.max-width .lo {
  display: none !important;
  display: flex;
  align-items: center;
}

.max-width .lo h2 {
  margin-left: 10px;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 600;
}

.max-width .lo .nuqta {
  color: #57b9ff;
}

/* Navbar Styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  transition: .9s;
  padding: 15px 0;
  background: #57B8FF;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
}

.navbar.sticky .logo a span {
  color: #fff;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #073ac6;
  transition: all 0.3s ease;
}

/* menu btn styling */
/* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

section {
  transition: .9s;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.906);
  color: white;
}

section .section2 {
  transition: .9s;
  width: 100%;
  margin: auto;
  display: flex;
}

section .section2 .section21 {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 50px;
  padding-left: 20px;
}

section .section2 .section21 .h1 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
}

section .section2 .section21 .ikki {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

section .section2 .section21 .ikki p {
  margin-left: 10px;
  color: #57B8FF;
}

section .section2 .section21 .pi {
  color: #999999;
  margin-top: 40px;
  margin-bottom: 50px;
}

section .section2 .section21 .oon {
  display: flex;
  align-items: center;
}

section .section2 .section21 .oon p {
  margin-left: 40px;
}

section .section2 .section21 .oon button {
  all: unset;
  transition: .9s;
  background-color: #57B8FF;
  color: #ffffff;
  padding: 15px 50px;
  border-radius: 5px;
  transition: .5s;
}

section .section2 .section21 .oon .view {
  margin-left: 20px;
}

section .section2 .section21 .oon .view button:hover {
  transition: .9s;
  background-color: #f5f5f5;
  color: #57b9ff;
  padding: 15px 45px;
}

section .section2 .section21 .oon button:hover {
  background-color: #f5f5f5;
  color: #57b9ff;
}

section .section2 .on {
  background-color: #57B8FF;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
}

section .section2 .on img {
  width: 100%;
}

#section3 {
  transition: .9s;
  background-color: #FDD04A;
}

#section3 .sec3 {
  max-width: 1600px;
  margin: auto;
  width: 90%;
  margin: auto;
  text-align: center;
}

#section3 .sec3 h1 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #222730;
  padding-top: 100px;
  padding-bottom: 40px;
}

#section3 .sec3 .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 100px;
}

#section3 .sec3 .bottom div {
  margin: 5px;
}

#section3 .sec3 .bottom img {
  width: 100%;
}

#section4 {
  transition: .9s;
  background-image: url(./img/background.png);
  max-width: 1600px;
  margin: auto;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-size: cover;
}

#section4 .sec4 {
  transition: .9s;
  color: white;
  text-align: center;
}

#section4 .sec4 h1 {
  width: 40%;
  margin: auto;
  padding-bottom: 40px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
}

#section4 .sec4 .pi {
  width: 40%;
  margin: auto;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
}

#section4 .sec4 .se4 {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

#section4 .sec4 .se4 p {
  margin-left: 10px;
}

#section4 .pas {
  color: white;
}

#section4 .pas .pa1 {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

#section4 .pas .pa1 .pa2 {
  margin-top: 30px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.227);
  border-radius: 10px;
  transition: .5s;
}

#section4 .pas .pa1 .pa2 .pi {
  margin-right: 20px;
  color: #DFDFDF;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

#section4 .pas .pa1 .pa2 .pa3 {
  display: flex;
  align-items: center;
}

#section4 .pas .pa1 .pa2 .pa3 h3 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  margin-left: 10px;
}

#section4 .pas .pa1 .pa2:hover {
  box-shadow: 0px 0px 10px 5px #57b9ff;
}

#section4 .pas .pa1 .oonn {
  margin-left: 20px;
}

#section5 {
  transition: .9s;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

#section5 .sec5 {
  max-width: 1600px;
  margin: auto;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section5 .sec5 .se5 {
  width: 50%;
}

#section5 .sec5 .se5 h1 {
  color: white;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  margin-bottom: 38px;
}

#section5 .sec5 .se5 .pi {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  margin-bottom: 40px;
}

#section5 .sec5 .se5 button {
  all: unset;
  background-color: #57B8FF;
  color: white;
  border-radius: 5px;
  padding: 15px 45px;
  transition: .5s;
}

#section5 .sec5 .se5 .s5 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#section5 .sec5 .se5 .s5 p {
  color: #57B8FF;
}

#section5 .sec5 .se5 button:hover {
  background-color: #f5f5f5;
  color: #57b9ff;
}

#section5 .sec5 div img {
  width: 100%;
}

#section6 {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#section6 .sec6 {
  width: 100%;
}

#section6 .sec6 img {
  width: 100%;
}

#section7 {
  transition: .9s;
  background-color: black;
  margin-top: -7px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#section7 .sec7 {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: auto;
}

#section7 .sec7 .button button {
  all: unset;
  background-color: #57B8FF;
  color: white;
  padding: 15px 45px;
  border-radius: 2px;
  transition: .5s;
}

#section7 .sec7 .button button:hover {
  background-color: #f5f5f5;
  color: #57b9ff;
}

#section7 .sec7 .se7 h1 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 100;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 20px;
}

#section7 .sec7 .se7 .s7 {
  display: flex;
  align-items: center;
}

#section7 .sec7 .se7 .s7 p {
  color: #57B8FF;
}

#section8 {
  transition: .9s;
  padding-top: 100px;
  background-color: black;
}

#section8 .sec8 {
  max-width: 1600px;
  margin: auto;
  width: 90%;
  margin: auto;
}

#section8 .sec8 .se8 {
  display: flex;
  justify-content: space-between;
}

#section8 .sec8 .se8 p {
  color: #57B8FF;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}

#section8 .sec8 .se8 h3 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}

#section8 .sec8 .se8 img {
  width: 100%;
}

#section8 .sec8 .se8 .s8 {
  margin-left: 20px;
}

#section8 .sec8 .se8 .s8 .s {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#section8 .sec8 .se8 .s8 .s .c img {
  width: 100%;
}

#section8 .sec8 .se8 .s8 .s .c1 {
  margin-left: 40px;
}

#section8 .sec8 .se8 .s8 .s .c1 img {
  width: 100%;
}

footer {
  background-image: url(./img/footer.png);
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-size: cover;
}

footer .futer {
  max-width: 1600px;
  margin: auto;
  text-align: center;
}

footer .futer h1 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

footer .futer .pi {
  margin-bottom: 50px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #555555;
}

footer .futer .inp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

footer .futer .inp .em {
  width: 50%;
}

footer .futer .inp .em input {
  width: 100%;
  border: none;
  background-color: white;
  padding: 10px 20px;
}

footer .futer .inp .bu button {
  all: unset;
  width: 100%;
  border: none;
  background-color: #57B8FF;
  padding: 7px 30px;
  color: white;
}

footer .futer .inp input:focus {
  border: none;
  outline: 0;
  outline-offset: 0;
}

.navbar .max-width .con .dark button {
  all: unset;
  background-color: #57B8FF;
}

.dark {
  transition: .6s;
}

.dark .navbar .max-width .logo {
  display: none;
}

.dark .navbar .max-width .lo {
  display: block !important;
  display: flex !important;
}

.dark section .section2 .section21 {
  background-color: white;
  color: #000;
}

.dark nav .max-width ul a {
  color: #111;
}

.dark #section3 {
  background-color: white;
  color: black;
}

.dark #section3 .sec3 {
  transition: .9s;
}

.dark #section3 .sec3 .bottom div {
  transition: .9s;
  background-color: #FDD04A;
  border-radius: 15px;
  padding: 7px 7px 4px 7px;
}

.dark #section5 {
  background-color: #fff;
  color: #000;
}

.dark #section5 h1 {
  color: black !important;
}

.dark #section5 p {
  color: #000 !important;
}

.dark #section5 img {
  background-color: #000;
  border-radius: 10px;
}

.dark #section7 {
  background-color: white;
}

.dark #section7 .sec7 .se7 h1 {
  color: #000 !important;
}

.dark #section8 {
  background-color: white;
}

.dark #section8 p {
  color: #57b9ff !important;
}

.dark #section8 h3 {
  color: #000 !important;
}

@keyframes ldio-6hy09r934wb {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ldio-6hy09r934wb div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-6hy09r934wb linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}

.ldio-6hy09r934wb div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}

.ldio-6hy09r934wb div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}

.loadingio-spinner-spinner-qlb5tziceg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-6hy09r934wb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-6hy09r934wb div {
  box-sizing: content-box;
}

@media (max-width: 1100px) {
  footer .futer .inp {
    width: 60%;
    margin: auto;
  }
  footer .futer .inp .em {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  section .section2 .section21 .h1 {
    font-size: 50px;
    line-height: 50px;
  }
  #section8 .sec8 .se8 h3 {
    font-size: 18px;
  }
}

@media (max-width: 990px) {
  #section5 .sec5 {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  #section5 .sec5 .se5 {
    width: 90%;
    margin: auto;
  }
  #section5 .sec5 .se5 h1 {
    font-size: 50px;
  }
}

@media (max-width: 970px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.5s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
    margin-left: -3px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card,
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .navbar .max-width .con {
    display: none;
  }
}

@media (max-width: 900px) {
  #section4 .sec4 h1 {
    width: 70%;
    margin: auto;
  }
  #section4 .sec4 p {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 870px) {
  section .section2 .section21 .onn {
    flex-direction: column !important;
  }
}

@media (max-width: 845px) {
  #section4 .pas .pa1 {
    flex-direction: column;
  }
  #section4 .pas .pa1 .oonn {
    margin-left: -1px;
  }
}

@media (max-width: 800px) {
  section .section2 .section21 .h1 {
    font-size: 40px;
  }
  #section8 .sec8 .se8 h3 {
    font-size: 16px;
  }
  footer .futer .inp .em {
    width: 90%;
  }
}

@media (max-width: 700px) {
  #section3 .sec3 .bottom {
    flex-direction: column;
  }
  #section4 .sec4 h1 {
    width: 70%;
    margin: auto;
  }
  #section4 .sec4 p {
    width: 70%;
    margin: auto;
  }
  #section7 .sec7 .se7 h1 {
    font-size: 50px;
  }
  #section8 .sec8 .se8 {
    flex-direction: column;
  }
  #section8 .sec8 .se8 h3 {
    font-size: 18px;
  }
  #section8 .sec8 .se8 .s8 {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  section .section2 {
    flex-direction: column-reverse;
  }
  #section4 .sec4 h1 {
    font-size: 50px;
    width: 90%;
    margin: auto;
  }
  #section4 .sec4 .pi {
    width: 90%;
    margin: auto;
  }
  footer .futer h1 {
    font-size: 50px;
  }
  footer .futer .inp {
    width: 70%;
    margin: auto;
  }
  footer .futer .inp .em {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 515px) {
  #section7 .sec7 .se7 h1 {
    font-size: 40px;
  }
  #section7 .sec7 .se7 .s7 p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #section6 {
    flex-direction: column;
  }
  #section6 .sec6 {
    margin-top: -5px;
  }
  #section7 .sec7 {
    flex-direction: column;
  }
  #section7 .sec7 .se7 h1 {
    font-size: 40px;
  }
  #section7 .sec7 .se7 .s7 p {
    font-size: 14px;
  }
  #section8 .sec8 .se8 .s8 .s {
    flex-direction: column;
  }
  footer .futer h1 {
    font-size: 50px;
  }
  footer .futer .inp .em {
    width: 100%;
    margin: auto;
  }
  footer .futer .inp .em input {
    padding: 15 10px;
  }
  footer .futer .inp .bu button {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .section8 .sec8 .se8 h3 {
    font-size: 16px;
  }
  .section8 .sec8 .se8 .s8 .s {
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */